body{
    background-color: black;
  }

  h1{
    text-transform:uppercase;
  }

  div{
    width:50%;
    margin-left:25%;
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align:centre;
  }

  img{
    border:5px solid white;
    width:100%;
  }

  
  
