.d-block{
    border-radius:50%;
}
span{
    color:darkcyan;
    text-decoration: underline;
    text-decoration-color:aquamarine ;
}

.skills{
    background-image: linear-gradient(60deg,rgb(215, 25, 187),#87cfdf);
    margin-bottom: 0%;
}
.center{
    color:rgb(8, 16, 26);
  text-align: center; 
}

