#red{
    color:red;
}

#blue{
    color:blue;
}

#orange{
    color:orange;
}

#green{
    color:green;
}

#yellow{
    color:yellow;
}

.color-title{
    font-weight: normal;
}

img[src]{                        /*even if u omit [src] it will work*/
    height: 200px;
    width: 200px; 
}